/****Font Families

font-family: noto-serif-condensed, serif;
font-weight: 400;
font-style: normal;

font-family: noto-serif-extracondensed, serif;
font-weight: 400;
font-style: normal;

font-family: 'Over the Rainbow', cursive;
font-weight: 400;
font-style: normal;

font-family: alegreya, serif;
font-weight: 400;
font-style: normal;
***/


/*****BASE STYLES*****/


body {
    font-family: 'alegreya', serif;
    color: #2b2b2b;
    background-color: #ebebeb;
}



#mission {
    height: 130px;
}

#serv {
  height: 300px;
}

#seemywork {
  height: 120px;
}


#contact {
    height: 400px;
}


/**** layout ****/

.full-width {
  width: 1366px;
  margin: 0 auto;
}

.half-width {
   width: 683px;
   float: left;
}

.third-width {
  width: 455px;
  float: left;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**** HEADER *****/



header {
    height: 500px;
    background: url("../img/hero-image.png");
    background-size: cover;
    background-color: #ebebeb;
    margin-top: -50px;
}


header h1 {
    font-family: 'Over the Rainbow', cursive;
    color: #ebebeb;
    font-size: 72px;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 0px;
    /**padding-left: 5%;**/
 }

header h2 {
  font-family: 'noto-serif-condensed', serif;
  color: #ebebeb;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  margin-top: -40px;

}
#intro img {
    padding-top: 35px;
}

nav {
    float: right;
    /**padding-right: 5%;**/
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    font-family: 'noto-serif-extracondensed', serif;
    font-size: 20px;
    /**letter-spacing: 2px;**/
    text-decoration: none;
    text-transform: uppercase;
    color: #ebebeb;
    padding-left: 20px;

}
/***coming soon - can delete once completed**/


/*****mission*****/


#mission  {
    text-align: center;
    height: 100%;
    padding-top: 50px;
  }

#mission h2{
      font-family: 'noto-serif', serif;
      color: #2b2b2b;
      font-size: 32px;
      font-weight: 200;
      margin-bottom: -10px;
}

#mission h2 span{
      font-family: 'Over the Rainbow', cursive;
      color: #2b2b2b;
      font-size: 34px;
      margin: 0px;
}
#mission p {
      font-family: 'noto-serif', serif;
      color: #2b2b2b;
      font-size: 24px;
      margin-top: 0px;
}

/**Service Section**/

#serv {
  text-align: center;
}

#serv .full-width {
    padding: 100px 0 30px;
}

#serv img {
    height: 100%;
    padding-bottom: 8px;

}

#serv h5 {
    font-family: 'noto-serif', serif;
    color: #2b2b2b;
    font-size: 30px;
    font-weight: 200;
    margin: 0px;
    padding: 5px 0px 8px;
}

#serv p {
    font-family: 'alegreya', serif;
    font-size: 18px;
    line-height: 24px;
    padding: 0 30px;
}

/*****see my work ****/

#seemywork {
  height: 100%;
  background-color: #ebebeb;
  text-align: center;
  padding: 150px 0px 80px;
}


/****** CONTACT *****/


#contact .full-width {
    align-content: center;
    padding: 0px 10px;
    margin: 0 auto;
}

#contact h5 {
    font-family: 'noto-serif', serif;
    font-weight: 200;
    color: #2b2b2b;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
}
#contact p{
    font-family: 'alegreya', serif;
    font-size: 20px;
    line-height: 24px;
    padding-left: 75px;
    margin-top: 0px;
}

#contact span {
    font-family: 'Over the Rainbow', cursive;
    font-size: 34px;
}
#contact ul {
  list-style: none;
}

#contact ul li {
    display: inline-block;
    padding: 0 70px;
    padding-bottom: 10px;

}

#contact #contact-icons {
   margin-left: 280px;
   padding-top: 0px;
}
